<div class="row no-gutters">
  <div class="col-md-2"></div>
  <div class="col-md-8 mt-12 text-center" (click)="show_first=false" style="padding-top: 3%">
    <div *ngIf="show_first">
      <h1> Get ready!</h1>
      <img class="img-fluid" src="assets/bal.jpeg">
      <h3> (coming soon)</h3>
    </div>

    <div *ngIf="!show_first">
      <app-image-view [image_url]="img"
                      *ngFor="let img of img_urls; let i = index"
                      (click)="zoom_url=img; img_index=i"
                      data-toggle="modal" data-target="#aaamodal"></app-image-view>
    </div>

  </div>
  <div class="col-md-2">
  </div>
</div>



<!--Modals-->
<div class="modal bg-dark" id="aaamodal" tabindex="-1" role="dialog"
     (keydown.arrowLeft)="previousImage()"
     (keydown.arrowRight)="nextImage()">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content bg-dark" >
      <div class="modal-body bg-dark text-white-50">
        <img class="gg" [src]="zoom_url">
        (image # {{img_index}})
        <button class="btn btn-outline-secondary" (click)="previousImage()" > < </button>
        <button class="btn btn-outline-secondary" (click)="nextImage()"> > </button>
      </div>
    </div>
  </div>
</div>
