<div class="row no-gutters">
  <div class="col-md-5">
    <div class="card">
      <div class="card-header">Algo1</div>
      <div class="card-body">
        <p> <button class="btn btn-outline-primary" (click)="check()"> Sprawdź</button>
          <p>
          Wynik: {{wynik}} <br>
          Odwrócona tablica: {{tab_reversed}} <br>
          Suma: {{visible_sum}}
          </p>
      </div>
    </div>
    <div class="card">
      <div class="card-header">Algo2</div>
      <div class="card-body">
        <form>
          <input class="form-control" name="input_algo_2" [(ngModel)]="napis">
        </form>


        <p> <button class="btn btn-outline-primary" (click)="analyze()"> Analizuj</button>
          <p>
          Tablica: {{tab_from_string}} <br>
          Liczb <10: {{less_than_ten}} <br>
          Liczb >20: {{more_than_twenty}} <br>
          Możliwe wycięcie 3x5: {{shape_possible}} <br>
          Tablica liczb pośrednich (10<=x<=20) {{tab_good_numbers}}
          </p>
      </div>
    </div>
  </div>

</div>
